body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1c1c1e;
}

.calculator {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #000000;
    height: 600px;
    width: 450px;
    border-radius: 50px;
}

.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    padding: 18px;
}

.display {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 36px;
    height: 92px;
    width: 400px;
    border: none;
    outline: none;
    text-align: right;
    border-radius: 50px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    background: #323332;
    color: #fff;
}

.button-0{
    grid-column: span 2;
    border-radius: 1000px;
}

.operator {
    background-color: #FE9F0B;
}

.clear {
    background-color: #a5a5a5;
    color: #000;
}

.operand {
    background-color: #333333;
}

.equals {
    background-color: #2e2e2e;
}